name: Run eFuse compiler in Docker
description: Run eFuse aray creation & verification in IIC-OSIC-TOOLS container.
on: [push]

jobs:
    get_ids:
        name: Get UID & GID
        runs-on: ubuntu-latest
        outputs:
            uid: ${{ steps.ids.outputs.uid }}
            gid: ${{ steps.ids.outputs.gid }}
        steps:
            - name: Get IDs
              id: ids
              run: echo "uid=$(id -u)" >> $GITHUB_OUTPUT && echo "gid=$(id -g)" >> $GITHUB_OUTPUT
    test:
        name: Run test
        needs: get_ids
        runs-on: ubuntu-latest
        container: 
            image: hpretl/iic-osic-tools:2025.07.pre1
            options: --user ${{needs.get_ids.outputs.uid}}:${{needs.get_ids.outputs.gid}}
        steps:
            - name: Check out repository code
              uses: actions/checkout@v4
            - name: Generate 16x1 eFuse array
              run: bash -c ". $HOME/.bashrc && cd ${{ github.workspace }} && PDK=gf180mcuD ./efuse.py 16 1"
